{% extends "layout.main.twig" %}

{% block content %}

<style>
tr.disabled {
  background-color: #f2abab;
}
tr.enabled {
  background-color: #FFFFFF;
}
</style>

<h2>Users</h2>

<table class="table">
  <thead>
    <th>Username</th>
    <th>Full Name</th>
    <th>Email</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    {% for user in users %}
    <tr id="user-row-{{ user.id }}" class="{% if user.status == 'inactive' %} disabled {% else %} enabled {% endif %}">
      <td><a href="/user/view/{{ user.id }}">{{ user.username }}</a></td>
      <td>{{ user.fullName }}</td>
      <td>{{ user.email}}</td>
      <td>
        <a href="#" id="user-{{ user.id }}" class="glyphicon glyphicon-off user-status-toggle"></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

</table>

<script>
$(function() {
  $('a.user-status-toggle').click(function(e) {
    var userId = $(e.target).attr('id').split('-')[1];
    var currentStatus = $('#user-row-'+userId).attr('class').trim();

    $.post('/admin/users/status', { userId: userId }, function(data) {
      console.log(data);
      if (data.success == true) {
        if (typeof currentStatus == 'undefined' || currentStatus == 'enabled') {
          $('#user-row-'+userId).removeClass('enabled').addClass('disabled');
        } else {
          $('#user-row-'+userId).removeClass('disabled').addClass('enabled');
        }
      }
    });
  });
});
</script>

{% endblock %}
